.column1 {
    float: left;
    width: 33.3%;
  }
  .column1 {
    float: left;
    width: 100%;
  }
.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 50px;
    
}
.column2{
float: right;
width: 19%;
}


