h1 {text-align: center; font-family: "Sans-Serif"; font-weight: bolder;}
head{background-color: #3C7EC9;}

h2 {text-align: center;font-family: "Sans-Serif"; font-weight: bolder; font-size:xx-large;}  
     
h3{text-align: center;font-family: "Sans-Serif"; font-weight: bolder; font-size: x-large;}
     
h4 {text-align: center;font-family: "Sans-Serif"; background-color: #87CEEB;} 
     
h6{text-align: center;font-family: "Sans-Serif";}
    
p{text-align:center;font-family: "Sans-Serif";}
    /* Set additional styling options for the columns */
    
    .column {
    float: left;
    }

    /* Set width length for the left, right and middle columns */
    .left {
    width: 50%;
    }

    .middle {
    width: 33.3%;
    }
    
    .right {
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }